.p-article {
  &__thumbnail {
    margin-top: 24px;
  }
  &__body {
    margin: 24px 0 30px;
    word-wrap: break-word;
    @include mq-up(sm) {
      margin: 24px 0 60px;
    }
    & pre {
      background-color: #faf7ed !important;
    }
  }
}
