@import "normalize";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-text;
  font-size: 1rem;
  font-family: $sans;
  line-height: 1.50;
  width: 100vw;
  height: 100vh;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  text-indent: 1em;
  text-align: justify;
}

p, li {
  line-height: 1.7;
}

p code {
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  color: #523212;
  background-color: #f8f8f8;
  border: 1px #eee solid;
  border-radius: 2px;
}

summary {
  font-size: 1.6rem;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

ul {
  & li {
    list-style: disc;
  }
}

ol {
  & li {
    list-style: decimal;
  }
}

li {
  font-size: 1.6rem;
}

dt {
  margin-top: 16px;
  font-size: 1.6rem;
}

dd {
  margin: 8px 0 0 20px;
  font-size: 1.6rem;
}

pre, code, kbd {
  font-family: $monospace;
}

pre {
  display: block;
  padding: 12px;
  border-radius: 3px;
  background-color: #f8f8f8;
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: auto;
}

code {
  line-height: 1.8;
  font-size: 1.4rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.6rem;
}

th,
td {
  padding: 8px;
  border: 1px solid #eee;
}

th {
  background-color: #fafafa;
  font-weight: normal;
}

del {
  color: #999;
}

blockquote {
  margin: 0;
  padding: 8px 12px;
  background-color: #a5c1a233;
  border-left: 3px solid #ccc;
  & * {
    margin: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='443' height='53.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23eeeeee' stroke-width='9.7' stroke-opacity='0.16'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

@import "footer";
@import "header";
@import "main";
@import "nav";
@import "object/component/anchor";
@import "object/component/article";
@import "object/component/equation";
@import "object/component/figure";
@import "object/component/links";
@import "object/component/pagination";
@import "object/component/tag";
@import "object/component/time";
@import "object/component/title";
@import "object/project/article";
@import "object/project/author";
@import "object/project/copyright";
@import "object/project/list-article";
@import "object/project/menu";
@import "object/project/notfound";
@import "object/project/pagination";
@import "object/project/related";
@import "object/project/screen-reader-text";
@import "object/project/subtitle";
@import "object/project/tag-title";
@import "object/project/title";
@import "object/utility/align";
@import "object/utility/display";
@import "fontawesome/fontawesome";
